body {
  text-align: center;
}

.gameIntro {
  text-align: center;
}

h1 {
  margin-bottom: 32px;
  font-size: 48px;
}

#gameStart {
  font-size: 34px;
}

.chooseButton {
  text-align: center;
  margin: 32px 0px;
  font-size: 24px;
}

.gameIntro {
  margin-bottom: 96px;
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.button {
  padding: 18px;
  font-size: 28px;
  width: 150px;
}